<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HockViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCE41DE01EADA895006FAAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCE41DF91EADA895006FAAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCE41E041EADA895006FAAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
